body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
div.column50 {
    float: left;
    width: 40%;
    margin: 5%;
    border: 3px outset green;
}

div.inputText{
    margin: 5px;
    padding: 5px;
    
    
}
textarea
{
    width: 100%;
    font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: rgba(66,66,66,.75);
     border-style: solid;
     border-radius: 8px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    padding: 5px;
}
.col1 {
    display: none;
    border: 3px outset green;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Segoe UI';
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}